# Only in .env.dev and .env.production:
# DJANGO_SETTINGS_MODULE=config.settings.dev

DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/final3

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=final3

SHOP_NAME="Hop & Barley"

# Nova Poshta API 2.0: my.novaposhta.ua -> Settings -> Security -> API keys
NOVA_POSHTA_API_KEY=

# Order emails
DEFAULT_FROM_EMAIL=shop@example.com
SHOP_ADMIN_EMAIL=
