{% load static %}
<footer>
    <img src="{% static 'img/background/image-footer.svg' %}" alt="{{ SHOP_NAME }} Hops Logo" class="footer__hops-logo">
    <nav class="footer__nav">
        <ul>
            <li><a href="#">Контакти</a></li>
            <li><a href="#">Часті питання</a></li>
            <li><a href="#">Спільнота</a></li>
            <li><a href="#">Ресурси</a></li>
            <li><a href="#">Ліцензія</a></li>
        </ul>
    </nav>
    <p class="footer__copyright">&copy; {{ SHOP_NAME }} {% now "Y" %}. Усі права захищені</p>
</footer>
