{% load shop_tags %}
{# Expects: product #}
<a href="{{ product.get_absolute_url }}" class="product-card-link">
    <div class="product-card">
        {% include "partials/product_image.html" with product=product css_class="product-card__image" %}
        <div class="product-card__info">
            <h4 class="product-card__name">{{ product.name }}</h4>
            <p class="product-card__price">{{ product.price|money }}</p>
            <p class="product-card__description">{{ product.description|truncatechars:32 }}</p>
        </div>
    </div>
</a>
